.test {
    color: red;
}
.header-nav {
    display: flex;

}
.header {
    position: absolute;
    width: 100%;
}
.nav{
    text-align: center;
}
.contacts {
    text-align: right;
    margin-right: 20%;
}
.button {
    background-color: blue;
    ;
    border-radius: 30;
}



